/* SCROLL TOP BUTTON CSS */

.scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius: 100%;
}

@media screen and (max-width: 1300px) {
  .scroll-top {
    display: none;
  }
}
